{% extends "TRJRoutingControl::layout.html.twig" %}

{% block title "Routing control administration" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">Routing Manager</h1>
{% endblock %}
