{% extends 'TRJRoutingControlBundle::layout.html.twig' %}
 {% block content %}
     <h1>Route list</h1>
     {{ routes|length }}
     <table class="table table-condensed">
         <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Controls</th>
            </tr>
         </thead>
         {% for name, route in routes %}
         <tr>
                <td class="active">{{ name }}</td>
                <td class="active">{{ route.path }}</td>
                <td class="active">file</td>
                <td class="active"><a href="{{ path('trj_routing_control.control_show', {'name' : 'homepage'}) }}">Show</a></td>
         </tr>
         {% endfor %}
     </table>
 {% endblock %}
