{% extends 'TRJRoutingControlBundle::layout.html.twig' %}
 {% block content %}
     <h1>Route Control </h1>
     {{ routeControl.target }}
     <table class="table table-condensed">
         <thead>
         <tr>
             <th>Path</th>
             <th>Target</th>
             <th>Code Status</th>
         </tr>
         </thead>
             <tr>
                 <td class="active">{{ routeControl.name }}</td>
                 <td class="active">{{ routeControl.enabled }}</td>
                 <td class="active">-</td>
             </tr>
     </table>
 {% endblock %}
